SERVER_PORT=8085
SERVER_ADDRESS=

METRICS_PORT=9093
JUEGER_GRPC_ADDRESS=jaeger:4317

KAFKA_ENDPOINT=broker:9094
KAFKA_GROUP=stockmarket-service

KAFKA_ORDER_UPDATES_TOPIC=order_update
KAFKA_ORDER_CREATED_TOPIC=order_created
KAFKA_DLQ_TOPIC=dlq

ORDER_PROCESS_LIMIT=20

#"debug" "info" "warn" "error" "panic" "fatal"
LOG_LEVEL=info

# true|false
ENABLE_LOGFILE=false

# default ./logs
LOG_FILE_DIR=