.env
spot/.env
spot/.env
metrics/.env

spot/bin/*
order/bin/*

spot/logs/*
order/logs/*
spot/bin/logs/*
order/bin/logs/*
spot/cmd/logs/*
order/cmd/logs/*

order/go.sum
spot/go.sum
pkg/go.sum
api/go.sum
go.sum
