SERVER_PORT=8085
SERVER_ADDRESS=

METRICS_PORT=9092
JUEGER_GRPC_ADDRESS=jaeger:4317

KAFKA_ENDPOINT=broker:9092
KAFKA_GROUP=spotinstrument-service
KAFKA_MARKETS_UPDATES_TOPIC=spot_markets_update

#"debug" "info" "warn" "error" "panic" "fatal"
LOG_LEVEL=info

# true|false
ENABLE_LOGFILE=false
# default ./logs
LOG_FILE_DIR=