APP_NAME=spot-instrument
SERVER_PORT=50080
SERVER_ADDRESS=

METRICS_PORT=9091
JAEGER_GRPC_ADDRESS=jaeger:4317

JWT_SECRET=secret

PG_DBNAME=spot_instrument
PG_HOST=postgres
PG_PORT=5432
PG_USER=postgres
PG_PASS=postgres

LOG_LEVEL=info
DEBUG=false
ENABLE_LOGFILE=false