# Сервис
APP_NAME=spot-instrument
SERVER_ADDRESS=
SERVER_PORT=50080
SHUTDOWN_TIMEOUT=15s
DEBUG=false

# JWT секрет/ключ
JWT_SECRET=secret

# Postgres
PG_USER=user
PG_PASS=pass1
PG_HOST=postgres
PG_PORT=5432
PG_DBNAME=spot_instrument
PG_MAX_CONNS=50           # максимум соединений
PG_MIN_CONNS=5            # минимум соединений
PG_MAX_CONN_LIFETIME=30m  # время жизни соединения
PG_MAX_CONN_IDLE_TIME=5m  # время простоя перед закрытием
PG_CONN_TIMEOUT=5s        # таймаут подключения

# gRPC
GRPC_SERVER_MAX_RECV_MSG_SIZE=4194304      # 4 MB
GRPC_SERVER_MAX_SEND_MSG_SIZE=4194304
GRPC_SERVER_MAX_CONCURRENT_STREAMS=1000
GRPC_CLIENT_TIMEOUT=10s                    # если есть исходящие вызовы

GRPC_KEEPALIVE_TIME=30s
GRPC_KEEPALIVE_TIMEOUT=10s
GRPC_KEEPALIVE_PERMIT_WITHOUT_STREAM=true

# Метрики (Prometheus)
METRICS_PORT=9091
METRICS_PATH=/metrics

# Трассировка
OPEN_TELEMETRY_EXPORTER_GRPC_ADDRESS=tempo:4317
TELEMETRY_SAMPLE_RATIO=0.1

# Логи
LOG_LEVEL=info
ENABLE_LOGFILE=false      # если true дополнительно логирует в файл
LOG_FILE_DIR=./logs