APP_NAME=order-service
SERVER_PORT=50081
SERVER_ADDRESS=

METRICS_PORT=9092
JAEGER_GRPC_ADDRESS=jaeger:4317

JWT_SECRET=secret

PG_DBNAME=order_service
PG_HOST=postgres
PG_PORT=5432
PG_USER=postgres
PG_PASS=postgres

SPOT_GRPC_ENDPOINT=spot_instrument:50080

LOG_LEVEL=info
DEBUG=false
ENABLE_LOGFILE=false