# Сервис
APP_NAME=order-service
SERVER_ADDRESS=
SERVER_PORT=50081
SHUTDOWN_TIMEOUT=30s
DEBUG=false     # debug mode

# JWT секрет/ключ
JWT_SECRET=secret

# Коннекты
SPOT_GRPC_ENDPOINT=spot_instrument:50080

# Postgres
PG_USER=user
PG_PASS=pass1
PG_HOST=postgres
PG_PORT=5432
PG_DBNAME=order_service
PG_MAX_CONNS=100                # максимум соединений
PG_MIN_CONNS=10                 # минимум соединений
PG_MAX_CONN_LIFETIME=30m        # время жизни соединения
PG_MAX_CONN_IDLE_TIME=5m        # время простоя перед закрытием
PG_CONN_TIMEOUT=5s              # таймаут подключения

# Настройка gRPC сервера и клиента
GRPC_SERVER_MAX_RECV_MSG_SIZE=4194304       # 4 MB
GRPC_SERVER_MAX_SEND_MSG_SIZE=4194304
GRPC_SERVER_MAX_CONCURRENT_STREAMS=1000
GRPC_CLIENT_TIMEOUT=10s

GRPC_KEEPALIVE_TIME=30s
GRPC_KEEPALIVE_TIMEOUT=10s
GRPC_KEEPALIVE_PERMIT_WITHOUT_STREAM=true

# Circuit Breaker для grpc клиентов
BREAKER_MAX_REQUESTS=3
BREAKER_INTERVAL=10s
BREAKER_TIMEOUT=30s

# Ретраи для запросов через gRPC клиенты 
RETRY_MAX=3
RETRY_BACKOFF=100ms
RETRY_MAX_BACKOFF=2s

# Kafka
KAFKA_BROKERS=
KAFKA_TOPIC_UPDATES=order-updates
KAFKA_TOPIC_MARKETS_UPDATES=markets-updates
KAFKA_TOPIC_CREATED=order-created
KAFKA_DLQ_TOPIC=order-dlq
KAFKA_GROUP_ID=order-service
KAFKA_MIN_BYTES=10000
KAFKA_MAX_BYTES=10000000
KAFKA_MAX_WAIT=1s
KAFKA_DIAL_TIMEOUT=10s

# Outbox (релей для событий)
OUTBOX_POLL_INTERVAL=1s
OUTBOX_BATCH_SIZE=100
OUTBOX_MAX_RETRIES=3

# Метрики (Prometheus)
METRICS_PORT=9092
METRICS_PATH=/metrics

# Трассировка
OPEN_TELEMETRY_EXPORTER_GRPC_ADDRESS=tempo:4317
TELEMETRY_SAMPLE_RATIO=0.1

# Логи
LOG_LEVEL=info
ENABLE_LOGFILE=false    # если true дополнительно логирует в файл
LOG_FILE_DIR=./logs

