APP_NAME=userapp

SERVER_PORT=8085
SERVER_ADDRESS=

METRICS_PORT=9093
JUEGER_GRPC_ADDRESS=jaeger:4317


#"debug" "info" "warn" "error" "panic" "fatal"
LOG_LEVEL=info

# true|false
ENABLE_LOGFILE=falses
# default ./logs
LOG_FILE_DIR=